{% extends 'main/base.html' %}

{% block title %} Emath | Contest {% endblock %}
{% block headertitle %} Contest {% endblock %}

{% block contest_container %}
    <!----========== CONTEST CONTAINER ==========---->
    <div class="contest_container">
        <div class="activating_contests grid grid-cols-2 mt-8 rounded-2xl gap-1">
        <div class="relative active w-full h-64 rounded-2xl p-4 pl-6 pr-6">
            <div class="text-base font-semibold text-white"> Ongoing Contests</div>
            <div class="text-xs text-white">Time left: 2:59:59</div>
            <div class="contest_info text-white font-semibold text-3xl mt-8">
                Perimeter01
            </div>
            <div class="text-xs text-white mt-auto">May 8, 2022, 8:00 - May 12, 2022, 21:00</div>
            <div class="bottom-4 right-4 absolute text-white font-medium text-sm">www.emath.com</div>
        </div>
        <div class="list w-full h-64 bg-white rounded-2xl p-2 pr-2">
            <div class="flex items-center ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                </svg>
                <div class="text-base font-semibold mb-2 mt-2 ml-1"> Activating Contests (5)</div>
            </div>
            <hr>
            <div class="contest_board overflow-auto h-48 pl-1">
                <div class="cursor-pointer w-full">
                    <div class="active_contest w-full text-sm p-1.5 pl-3 pr-1.5 rounded-lg flex items-center mt-1">
                        <div class="font-medium">Perimeter01</div>
                        <div class="bg-black text-white p-4 pt-1 pb-1 rounded-md ml-auto text-xs"> Join </div>
                    </div>

                    <div class="active_contest w-full text-sm p-1.5 pl-3 pr-1.5 rounded-lg flex items-center mt-1">
                        <div class="font-medium">Perimeter01</div>
                        <div class="bg-black text-white p-4 pt-1 pb-1 rounded-md ml-auto text-xs"> Join </div>
                    </div>

                    <div class="active_contest w-full text-sm p-1.5 pl-3 pr-1.5 rounded-lg flex items-center mt-1">
                        <div class="font-medium">Perimeter01</div>
                        <div class="bg-black text-white p-4 pt-1 pb-1 rounded-md ml-auto text-xs"> Join </div>
                    </div>

                    <div class="active_contest w-full text-sm p-1.5 pl-3 pr-1.5 rounded-lg flex items-center mt-1">
                        <div class="font-medium">Perimeter01</div>
                        <div class="bg-black text-white p-4 pt-1 pb-1 rounded-md ml-auto text-xs"> Join </div>
                    </div>

                    <div class="active_contest w-full text-sm p-1.5 pl-3 pr-1.5 rounded-lg flex items-center mt-1">
                        <div class="font-medium">Perimeter01</div>
                        <div class="bg-black text-white p-4 pt-1 pb-1 rounded-md ml-auto text-xs"> Join </div>
                    </div>

                    <div class="active_contest w-full text-sm p-1.5 pl-3 pr-1.5 rounded-lg flex items-center mt-1">
                        <div class="font-medium">Perimeter01</div>
                        <div class="bg-black text-white p-4 pt-1 pb-1 rounded-md ml-auto text-xs"> Join </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>

    <div class="contest_joining mt-8">
        <div class="font-semibold"> Contest joining ✋🏻(3)</div>
        <div class="mt-4">
            <div class="joining h-16 w-full bg-white rounded-lg p-2 flex pl-3 pr-3 mb-2">
                <img class="h-12 w-12 object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">
                        Perimeter01
                    </div>
                    <div class="contest_contest_time text-xs text-gray-500">
                        May 8, 2022, 8:00 - May 12, 2022, 21:00
                    </div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    <i class='bx bxs-user mr-0.5'></i>
                    23 | View
                </div>
            </div>
            <div class="joining h-16 w-full bg-white rounded-lg p-2 flex pl-3 pr-3 mb-2">
                <img class="h-12 w-12 object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">Perimeter01</div>
                    <div class="contest_contest_time text-xs text-gray-500">May 8, 2022, 8:00 - May 12, 2022, 21:00</div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    <i class='bx bxs-user mr-0.5'></i>
                    23 | View
                </div>
            </div>

            <div class="joining h-16 w-full bg-white rounded-lg p-2 flex pl-3 pr-3 mb-2">
                <img class="h-12 w-12 object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">Perimeter01</div>
                    <div class="contest_contest_time text-xs text-gray-500">May 8, 2022, 8:00 - May 12, 2022, 21:00</div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    <i class='bx bxs-user mr-0.5'></i>
                    23 | View
                </div>
            </div>
        </div>
    </div>

    <div class="contest_history mt-8">
        <div class="font-semibold"> Contest History ✋🏻(3)</div>
        <div class="mt-4">
            <div class="joining h-16 w-full bg-white rounded-lg p-2 flex pl-3 pr-3 mb-2">
                <img class="h-12 w-12 object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">
                        Perimeter01
                    </div>
                    <div class="contest_contest_time text-xs text-gray-500">
                        May 8, 2022, 8:00 - May 12, 2022, 21:00
                    </div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    <i class='bx bxs-user mr-0.5'></i>
                    23 | View
                </div>
            </div>
            <div class="joining h-16 w-full bg-white rounded-lg p-2 flex pl-3 pr-3 mb-2">
                <img class="h-12 w-12 object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">Perimeter01</div>
                    <div class="contest_contest_time text-xs text-gray-500">May 8, 2022, 8:00 - May 12, 2022, 21:00</div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    <i class='bx bxs-user mr-0.5'></i>
                    23 | View
                </div>
            </div>

            <div class="joining h-16 w-full bg-white rounded-lg p-2 flex pl-3 pr-3 mb-2">
                <img class="h-12 w-12 object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">Perimeter01</div>
                    <div class="contest_contest_time text-xs text-gray-500">May 8, 2022, 8:00 - May 12, 2022, 21:00</div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    <i class='bx bxs-user mr-0.5'></i>
                    23 | View
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block upcoming_contest %}
    <!----========== UPCOMING CONTEST ==========---->
    <div class="upcoming_contest mt-4 rounded-2xl">
        <div class="relative upcoming w-full h-56 rounded-2xl p-4 h-[7.75rem] pl-6 pr-6">
            <div class="text-base font-semibold text-white"> Upcoming Contests</div>
            <div class="text-xs text-white">Before start: 2:59:59</div>
            <div class="contest_info text-white font-semibold text-3xl mt-8">
                Perimeter01
            </div>
            <div class="text-xs text-white mt-auto">May 8, 2022, 8:00 - May 12, 2022, 21:00</div>
            <div class="bottom-4 right-4 absolute text-white font-medium text-sm">www.emath.com</div>
        </div>
    </div>
    <div class="contest_upcoming mt-2">
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-3 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
            </svg>
            <div class="text-md font-semibold mt-4 ml-1"> List of contests</div>
        </div>
        <div class="mt-4">
            <div class="upcoming_contest h-16 w-full bg-white rounded-lg p-2 pt-1 pb-1 flex mb-2">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">
                        Perimeter01
                    </div>
                    <div class="contest_time text-xs text-gray-500">
                        May 8, 2022, 8:00 - May 12, 2022, 21:00
                    </div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    Join
                </div>
            </div>
            <div class="upcoming_contest h-16 w-full bg-white rounded-lg p-2 pt-1 pb-1 flex mb-2">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">
                        Perimeter01
                    </div>
                    <div class="contest_time text-xs text-gray-500">
                        May 8, 2022, 8:00 - May 12, 2022, 21:00
                    </div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    Join
                </div>
            </div>

            <div class="upcoming_contest h-16 w-full bg-white rounded-lg p-2 pt-1 pb-1 flex mb-2">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">
                        Perimeter01
                    </div>
                    <div class="contest_time text-xs text-gray-500">
                        May 8, 2022, 8:00 - May 12, 2022, 21:00
                    </div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    Join
                </div>
            </div>

            <div class="upcoming_contest h-16 w-full bg-white rounded-lg p-2 pt-1 pb-1 flex mb-2">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">
                        Perimeter01
                    </div>
                    <div class="contest_time text-xs text-gray-500">
                        May 8, 2022, 8:00 - May 12, 2022, 21:00
                    </div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    Join
                </div>
            </div>

            <div class="upcoming_contest h-16 w-full bg-white rounded-lg p-2 pt-1 pb-1 flex mb-2">
                <div class="contest_info ml-2 mt-auto mb-auto">
                    <div class="name font-semibold">
                        Perimeter01
                    </div>
                    <div class="contest_time text-xs text-gray-500">
                        May 8, 2022, 8:00 - May 12, 2022, 21:00
                    </div>
                </div>
                <div class="bg-black h-9 cursor-pointer text-white p-2 pl-4 pr-4 rounded-lg ml-auto mt-auto mb-auto text-xs flex items-center justify-center">
                    Join
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block notification %}
{% endblock %}