<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!----========== NOTIFICATION ==========---->
    <div class="notification_container">
        <div class="flex mt-6 mb-3">
            <div class="font-semibold flex items-center">
                <i class='bx bxs-bell-ring text-yellow-400 mr-1'></i>
                Notifications
            </div>
            <div class="text-gray-400 ml-auto cursor-pointer font-medium text-sm">See all</div>
        </div>

        <div class="notifications__container rounded-xl p-4 pl-5 pr-5">
            <div class="notifications__title flex">
                <div class="text-base font-semibold">Emath Class</div>
                <div class="btn ml-auto class_register text-sm font-medium p-1 pl-4 pr-4 rounded-md cursor-pointer">Register</div>
            </div>
            <div class="text-red-500"></div>
        </div>
    </div>
</body>
</html>