{% extends 'main/base.html' %}

{% block title %} Emath | Problems {% endblock %}
{% block headertitle %} Problems {% endblock %}


{% block problems_container %}
    <!----========== PROBLEMS CONTAINER ==========---->
    <div class="problems_container">

        <div class="problems_categories">
            <div class="mt-12 text-xl font-semibold flex items-center">
                <i class='bx bxs-star text-yellow-400 mr-2' ></i>
                Class 1
            </div>
            <div class="swiper class_swiper grid grid-cols-3 mt-4 gap-4 p-2 pb-12">
                <div class="swiper-wrapper">
        
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
                        
                </div>
        
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="problems_categories">
            <div class="mt-12 text-xl font-semibold flex items-center">
                <i class='bx bxs-star text-yellow-400 mr-2' ></i>
                Class 2
            </div>
            <div class="swiper class_swiper grid grid-cols-3 mt-4 gap-4 p-2 pb-12">
                <div class="swiper-wrapper">
        
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
        
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
    
                    <div class="swiper-slide emath_class bg-white rounded-xl p-2.5 relative">
                        <img class="h-72 sm:h-32 w-full object-cover rounded-lg" src="https://wallpapercave.com/wp/wp8216868.jpg" alt="">
                        <div class="class_level absolute top-5 right-5 bg-white text-xs font-medium text-black rounded-full p-1 pl-2.5 pr-2.5"> Easy</div>
                        
                        <div class="text-sm font-medium m-1 mt-2.5">Addition 1</div>
                        <div class="text-xs text-gray-400 m-1">Additition and subtraction</div>
                        <div class="text-xs text-gray-400 m-1">Time: 17th May 2022</div>
    
        
                        <div class="grid grid-cols-1 ">
                            <div class="login_btn btn cursor-pointer flex justify-center items-center mt-4 text-xs font-meidum rounded-md text-white p-2 pl-3 pr-3">
                                <i class='bx bx-task mr-1'></i>
                                Take a test
                            </div>
                        </div>
                    </div>
                        
                </div>
        
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </div>
{% endblock %}


